@font-face {
  font-family: 'Mountain-Regular';
  src: url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.eot'); /* IE9 Compat Modes */
  src: url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.woff') format('woff'), /* Modern Browsers */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/regular/Mountain-Regular.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mountain-Logo';
  src: url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.eot'); /* IE9 Compat Modes */
  src: url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.woff2') format('woff2'), /* Modern Browsers */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.woff') format('woff'), /* Modern Browsers */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.ttf') format('truetype'), /* Safari, Android, iOS */
  url('https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/font/logo/MountainLogo.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0;
}
html{
  width: 100%;
  height: auto;
}
body{
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 2.975em;
}

html, body{

  font-family: 'Mountain-Regular', sans-serif !important;
}

/* 
  common style 
*/
a{ 
  cursor: pointer;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}

b{
  font-weight: normal !important;
}

.white{
  color: #fff;
}

.bg-black{
  background-color: #000;
}
.bg-black h1{
  color: #fff !important;
}

.white-border{
  border: 1px solid #fff;
}
.gray-border{
  border: 1px solid #ebebeb;
}

.no-padding{
  padding: 0 !important;
}
.fit-parent{
  overflow: hidden;
  max-height: 500px;
}
.fit-parent img{
  width: 100%;
  height: 100%;
}
h1{
  margin: 0px;
  font-weight: normal !important;
}

.fixed{
  position: fixed !important;
}

/**/ 


#content{
}
.wrapper{
  /*margin: 0 auto;
  width: 100%;
  max-width: 1200px;*/
}

#blind{
  position: fixed;
  top: 131px;
  left: 0px;

  height: 100%;
  width: 100%;

  background: #fff;

  z-index: 999;
}

/* top-menu */
#menu{
  font-family: 'Mountain-Logo' !important;
  width: 100%;
  /*border-bottom: 1px solid #ebebeb;*/
  margin: 0px !important;
  height: 131px;
  padding: 40px 0 40px 50px;
  background: rgba(255,255,255,0.8);

  top: 0px;
  left: 0px;
}

#menu ul{
  height: 50px;
  padding: 0px;
  list-style: none;
}

#menu ul li{
  float: left;
  color: #bfbfbf;
  font-size: 2.25em;
  margin-right: 20px;
}

#menu ul li.slash{
  padding: 0px 10px;

  text-align: center;
  color: #efefef;

  opacity: 0.5;
}
#menu ul li:first-child a{
  color: #000 !important;
}

#menu ul li a{
  color: inherit;
  /*font-weight: bold;*/

  text-decoration: none;

  cursor: pointer;
}
#menu ul li.active,
#menu ul li a:hover{
  color: #000 !important;
}

.loader{
  position: absolute;
  top: 40px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: #000;
  margin: 0px;
  padding: 0px;

  z-index: 1;
}


.loader img{
  width: 100%;
  height: 100%;
  margin-top: -17px;
  display: inline-block;
}

.menu-opener{
  cursor: pointer;
}

#toTopBtn{
  float: right;
  cursor: pointer;
}

/* works page */
#next-indicator,
#prev-indicator{
  display: none;
  position: fixed;
  top: 50%;
  color: rgba(0,0,0,0.4);
  font-size: 7em;
  z-index: 999;
}
#prev-indicator{
  left: 10px;
}
#next-indicator{
  right: 10px;
}
/* company page */
#company #members.row > div{
  padding: 0px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
#company #members .photo img{
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
#company #members .desc{
  font-size: 0.875em;
}
#company #members .position{
  margin: 5px 0;
}
#company #members .detail{

  line-height: 1.3em;
}
#company #members .name{
  color: #000;
}
#company #members .position{
  color: #000;
  /*font-weight: bold;*/
}

/* contact page */
#contact{
}
#contact #map-wrapper{
  /*background-color: #000;*/
}
#contact #map{
  width: 100%;
  height: 100%;
}




/* Grid Color Setting */
.row{
  display: none;
}
.row a{
  color: inherit;
}

#company #members .desc,
.grid-item.text,
.row > div{
  padding: 40px;
}

.row > div{
  color: #959595;
  min-height: 200px;
}
#content .row > div{  
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.row > .no-padding{
  padding: 1px;
}

.row > div h1{
  color: #000;
  font-size: 1.857em;
  line-height: 1.15em;
  letter-spacing: 0.0416em;
  font-weight: normal !important;
}

.row table{
  width: 100%;
}
.row table td{
  width: 50%;
  vertical-align: top;
}
.row table td{
  padding-left: 20px;
}
.row table td:first-child{
  padding-left: 0px;
} 
.grid-item.text .desc,
.row p{
  color: #959595;
  margin: 10px 0 10px 0;
  font-size: 0.9em;
  line-height: 1.4285em;
}

/* Image Slider */
.image-slide img{
  position: absolute;;
  top: 0px;
  left: 0px;

  width: 100%;
}

#home .image-slide{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #fff;
}
#home .image-slide img{
  top: 50%;
}
/* Mansnry grid */
.grid{
  display: none;
}
.grid-sizer,
.grid-item {
  width: 25%;
  /*padding: 0px 1px 2px 1px;*/
}

.grid-item.grid-item-width2,
.grid-item.grid-item-detail{
  width: 50%;
}

.grid-item {
  float: left;
  cursor: pointer;
  white-space: pre-line;
}

.grid-item.grid-item-detail{
  cursor: default;
}

.grid-item.text{
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item .cover{
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.45);;

  opacity: .0;
}
.grid-item .cover h1{
  position: absolute;
  top: 40px;
  left: 40px;
}
.grid-item .cover .more-btn{
  position: absolute;
  top: 40px;
  right: 40px;
  width: 7%;
  height: 7%;
}

/* Media queries */
@media screen and (max-width: 499px) {
  .grid-item{ width: 100%;}
  .grid-item.grid-item-width2{ width: 100%; }
  .grid-item.grid-item-detail{ width: 100%; }


  .row p{
    margin: 10px 0 10px 0;
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .row > div h1{
    font-size: 1.5em;
  }


  #menu{
    height: 50px;
    padding: 0px 0px 25px 20px;
  }

  .grid-item,
  #menu ul li{
    font-size: 0.7em;
  }

  .loader{
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .loader img{
    margin-top: -30px;
  }

  .slash{
    color: #fff !important;
  }

  .image-slide-wrapper{
    display: none;
  }

  #footer .row > div {
    text-align: center;
    min-height: 0px;
  }

  #toTopBtn{
    float: none;
    text-align: center !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 719px) {
  .grid-item{ width: 50%;}
  .grid-item.grid-item-width2{ width: 100%; }
  .grid-item.grid-item-detail{ width: 50%; }

  .row p{
    margin: 10px 0 10px 0;
    font-size: 0.9em;
    line-height: 1.4em;
  }
  .row > div h1{
    font-size: 1.5em;
  }

  #menu{
    height: 50px;
    padding: 0px 0px 25px 20px;
  }

  .grid-item,
  #menu ul li{
    font-size: 1.0em;
  }

  .loader{
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
  }
  .loader img{
    margin-top: -30px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1223px) {
  .grid-item{ width: 50%;}
  .grid-item.grid-item-width2{ width: 100%; }
  .grid-item.grid-item-detail{ width: 50%; }

  #menu{
    height: 71px;
    padding: 13px 0px 25px 40px;
  }
  .grid-item,
  #menu ul li{
    font-size: 1.7em;
  }
  .loader{
    top: 20px;
  }
}

@media screen and (min-width: 1224px) and (max-width: 1439px) {

}

@media screen and (min-width: 1920px) {
}

/* TODO: */
@media(max-width: 780px){
}