form(method='POST' enctype='multipart/form-data' action='/admin/api/main_setting')
  .title="Images."
  input(multiple="multiple" name="upload" type="file")
  br
  input(type='submit' value='Upload Work')
