form(method='POST' enctype='multipart/form-data' action='/admin/api/works')
  .title="Title: " 
  input(type='text' id='title' name='title' placeholder='Title.')
  br

  .title="Description."
  br
  textarea(type='text' id='desc' name='desc')

  .title="Images."
  input(multiple="multiple" name="upload" type="file")
  br
  
  .title="Movie."
  input(id="movie", name="movie", placeholder="Optional")

  .title="Photographer."
  input(type="text" id="photographer", name="photographer")

  .title="Writer."
  input(type="text" id="writer", name="writer")

  .title="Size"
  select(id="size", name="size")
    option(value="1")="1x1"
    option(value="2")="2x2"

  input(type='submit' value='Upload Work')
