extends ../layout

block content
	.grid
		.grid-sizer
			.grid-item.grid-item-detail.text.bg-black
				.square
					h2.white=work.title+"."
					br
					.desc
						p=work.desc
						br
						br
						p="write by " + work.writer
						p="photography by " + work.photographer
						br
						br
						b.white
							span="Share"
							span=" / "
							span="Facebook"
							span=", "
							span="Twitter."

			if work.movie
				.grid-item.grid-item-detail
					iframe(width="560", height="315", src="https://www.youtube.com/embed/#{work.movie}", frameborder="0", allowfullscreen)
			each image in work.images
				.grid-item.grid-item-detail
					img(src='https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/' + image, data-val='#{image}')

	if power
		#prev-indicator.work-indicator
			a(href='/detail'/ + prev.title)="<"
	if power
		#next-indicator.work-indicator
			a(href='/detail/' + next.title)=">"
