.grid
	.grid-sizer
	each w in works
		if page == 'works'
			.grid-item(class="grid-item-width#{w.size}")
				img.square(src="https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/#{w.images[0]}")
				.cover(onclick="javasciprt:window.location.href='/detail/#{w.title}'")
					h1.white=w.title
					.more-btn
						img(src='/image/more.png')
		else
			.grid-item
				img.square(src="https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/#{w.images[0]}")
				.cover(onclick="javasciprt:window.location.href='/detail/#{w.title}'")
					h1.white=w.title
					.more-btn
						img(src='/image/more.png')