extends ../layout

block content
	.container-fluid
		.row
			.col-xs-12.col-sm-6.col-lg-6.bg-black.square(style="height:500px;")
				h1
					| Simplicity Works.
				p
					| Supermodernist design studio specialised in developing honest branding projects across the world. Our work is intended to brave the test of time. Our craft is the result of constant effort, talent and commitment to quality of the highest international caliber. 
				p
					| We believe the assignment contains the solution. This is why we strive to have a deep understanding of our projects and our client's needs through our fool-proof creative method. 
				p
					b.white
						| Est. 2006 — Monterrey, Mexico
			.col-xs-12.col-sm-6.col-lg-6.fit-parent.no-padding.image-slide-wrapper
				.image-slide
					img(src='/image/s3/company/image-slide/1.jpg')
					img(src='/image/s3/company/image-slide/2.jpg')
					img(src='/image/s3/company/image-slide/3.jpg')
					img(src='/image/s3/company/image-slide/4.jpg')
		.row
			.col-xs-12.col-sm-6
				h1
					|Services.
				p
					b="Face. " 
					| offers a full range of consultancy and design services, from brand development to specific design work for premium brands: identity, branding, editorial, web design, packaging and visual communication. 
				table
					tr
						td
							b="Identity."
							p
								|—Logotype.
								br
								|—Brand Consulting. 
								br
								|—Identity System. 
								br
								|—Typography. 
								br
								|—Logomark. 
								br
								|—Wordmark. 
								br
								|—Art Direction. 
								br
								|—Creative Direction. 
								br
								|—Naming. 
								br
								|—Slogan. 
								br
								|—Stationery. 
								br
								|—Brand Guidelines.
						td
							b="Branding."
							p
								|—Editorial Design. 
								br
								|—Branding System. 
								br
								|—Peripherals. 
								br
								|—Advertising. 
								br
								|—Illustration. 
								br
								|—Iconography. 
								br
								|—Flyers & Invitations. 
								br
								|—Album Design. 
								br
								|—Packaging. 
								br
								|—Custom Publishing. 
								br
								|—Copywriting. 		
							b="Web"
							p
								|—Graphical User Interfase (GUI).
								br
								|—User Experience Design (UX). 
								br
								|—Wireframes. 
								br
								|—Front-end / HTML + CSS (pixel perfect). 
								br
								|—Back-end / Ruby on Rails (RoR). 
								br
								|—Content Management Systems.

			.col-xs-12.col-sm-6.bg-black
				h1
					|Method.
				p
				table
					tr
						td
							b.white="01 / Approach."
							p
								|Meeting the client and studio presentation. Understanding the brand, the general needs, our role as designers and possible solutions we can offer as a proactive team. 
							b.white="02 / Checklist."
							p
								|Listing the specific needs of the project. Face offers a full list of services to choose from, and also the possibility to create a custom-made list of solutions based on the result of an Identity Strategy Consulting.  
							b.white="03 / Quote."
							p
								|Based on the required services and solutions, we create a detailed quote for your approval and revision. Payment methods and workflow depend on the specific project. 
							b.white="04 / Brief."
							p
								|We created a customized list of questions in order to gather useful information for your project development and conceptualization. This is what we call “your homework”.
						td
							b.white="05 / Research + Analysis. "
							p
								|Background research and competitive profiling. Deep investigation and further analysis of the brief, target audience profiling, market and overall brand assets. 
							b.white="06 / Concept — Strategy. "
							p
								|Based on the brief, we deliver a presentation including: Benchmark (competitors and situation), Moodboard (visual references) and Concept: the creative definition of your project.  
							b.white="07 / Design."
							p
								|Our strength. Dedicated and focused design work based on your specific needs, guided by the references and concept previously approved. Presentation of the design proposal and feedback process from start to production and delivery.  
							b.white="08 / Delivery. "
							p
								|Once the design is approved, we offer production consulting, supervision and delivery of the final product. Print media, web development or any kind of production, we got you covered. Delivery of perfected files for brand use, production and application.
		.row#members
			each member in members
				.col-xs-12.col-sm-6.col-md-4.col-lg-3
					.photo
						img(src='/image/s3/members.png')
					.desc
						h1.name.break-first-space=member.name+'.'
						.position.rm-last
							each p in member.position
								span=p
								span=' / '
						.detail
							.email
								a(href="mailto:#{member.email}")=member.email
							.bio.rm-last
								each b in member.biography
									span=b
									span=' / '
							.birth
								span=member.birth.location
								span=" - "
								span=member.birth.year	
							br
							.website.rm-last
								each w in member.web
									a(href="#{w.url}")=w.name
									span=" / "
							.sns
								each s in member.sns
									span=s.name
									span=": "
									span=s.val
									br


