extends ../layout

block content
	.container-fluid
		.row
			.col-xs-12.col-sm-6.col-lg-6.bg-black.square
				table
					tr
						td
							h1="Studio."
							p
								| Rio Mosela 222 
								br
								| Colonia Del Valle 
								br
								| San Pedro Garza García, NL
								br
								| 66220 México.
								br
								br
								| +52 (81) 8356 1001 
								br
								| +52 (81) 8299 7777
							br
							b.white="Office Hours."
							p
								| Monday to Friday 
								br
								| 9:00 am - 1:00 pm 
								br
								| 3:00 pm - 6:30 pm 
								br
								br
								| For general enquiries or anything you'd like to discuss, contact us here
								br
								| contact@designbyface.com 
								br
								br
								| For jobs placements, send us your curriculum and portfolio here. 
								br
								| work@designbyface.com
						td
							h1="Follow."
							p(style="padding: 10px;")
								a="- Twitter."
								br
								a="- Facebook."
								br
								a="- Behance."
								br
								a="- Instagram."
								br
								a="- Pinterest."
								br
								br
							b.white="Projects."
							p
								a="- P Magazine."
								br
								a="- Artwork."
								br
								a="- Page. The Magazine."					

			.col-xs-12.col-sm-6.col-lg-6.fit-parent.no-padding#map-wrapper
				#map

		.row
			.col-xs-12.col-sm-6
				h1
					|New Clients.
				p
					|For new projects, ideas, business inquiries or quotations, contact us here. 
				p
					|new@designbyface.com
			.col-xs-12.col-sm-6.bg-black
				h1
					|Press.
				p
					|Request material for publications, hi-res photos, interviews or general information about our company. 
				p
					|press@designbyface.com
