extends ../layout

block content
	.image-slide-wrapper
		.image-slide
			each img in slides
				img(src='https://s3.ap-northeast-2.amazonaws.com/mountain-portfolio/#{img}', data-val="#{img}")
	include ../works/list-grid.jade
