#footer
	.row
		.col-xs-12.col-sm-6.bg-black
			p
				a="contact@designbyface.com"
				br
				| +52 (81) 8356 1001
		.col-xs-12.col-sm-6
			#toTopBtn(style="text-align: right")
				p
					img(src="/image/back-top.png" width="25" height="25")
					p="Back to Top"
