#menu
	.wrapper
		ul
			li( value='home')
				a(href="/home")=".mt"
			li( value='works')
				a(href="/works")=".works"
			li( value='company')
				a(href="/company")=".company"
			li( value='contact')
				a(href="/contact")=".contact"
.loader
	img(src="/image/f.png")
