doctype html

html
  head
    title="Mountain Portfolio"

    meta(namne='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //css
    link(rel='stylesheet', type='text/css' href='/css/lib/bootstrap.min.css')
    link(rel='stylesheet', type='text/css' href='/css/common.css')

    //javascript
    script(src='/javascript/lib/jquery.1.11.2.min.js')
    // script(src='/javascript/lib/jquery-ui.min.js')
    script(src='/javascript/common.js')
    script(src='/javascript/image-slide.js')
    script(src='/javascript/lib/imagesloaded.pkgd.min.js')
    script(src='/javascript/lib/masonry.pkgd.min.js')
    script(src='/javascript/works-grid.js')
    if(page == 'contact')
        script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
        script(src='/javascript/map.js')
    script(src='/javascript/menu-opener.js')
    script.
        var PAGE = {'name': "#{page}"}

  body
    include ./header.jade
    #content.wrapper
        div(id= page)
            block content

    include ./footer.jade
    
    script(src='/javascript/lib/bootstrap.min.js')